# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/

# Env
.env
.env.local
.env.*.local

# Misc
.DS_Store
*.pem
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*

# Vercel / Render
.vercel
